# Trash are ignored everywhere
*.map
*.db
/dev/prepros-6.config

# Ignored all in root folder
/*

# Compulsory files
!/.gitignore
!/config.js
!/gulpfile.js
!/package.json
!/README.md

# Compulsory folders
!/dev
!/sources
!/docs

# Ignored inside dev folders and files
/dev/*.html
/dev/css/*.css
/dev/css/*.map