# Trash are ignored everywhere
*.map
*.db

# Ignored all in root folder
/*

# Compulsory files
!/.gitignore
!/config.js
!/gulpfile.js
!/package.json

# Compulsory folders
!/dev
!/sources
!/dist

# Ignored inside dev folders and files
/dev/*.html
/dev/css/*.css
/dev/css/*.map