/*
 * Buttons
*/
.btn {
  z-index: 1;
  position: relative;
  padding: 15px 31px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: .3s ease-out all;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1;
  }
}

.btn-md {
  font-size: 14px;
  text-transform: none;
  &-big {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.btn-lg {
  padding: 18px 51px;
  font-size: 16px;
  font-weight: 700;
  &-small {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.btn-with-icon {

  .btn-icon {
    display: inline-block;
  }

  .icon-cart {
    margin-right: 10px;
  }

  .icon-cross {
    position: relative;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    top: -2px;

    &:before,&:after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 15px;
      height: 1px;
      transform-origin: 50% 50%;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.btn-secondary,
.btn-secondary-gradient {
  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @include gradient-horizontal($secondary-1, $primary-1);
    transition: .3s ease-out all;
  }

  &, &:focus, &:active, &.active {
    background-color: $secondary;
  }

  &, &:focus, &:active, &:hover, &.active {
    color: $white;
  }
}

.btn-secondary {
  &:before {
    width: 0;
    opacity: 0;
  }

  &:hover {
    color: $white;
    &:before {
      width: 100%;
      opacity: 1;
    }
  }
}

.btn-secondary-gradient {
  &:before {
    width: 100%;
  }

  &.active,
  &:hover {
    &:before {
      width: 0;
      opacity: 0;
    }
  }
}

.btn-secondary-2 {
  &, &:focus, &:active {
    color: $white;
    background-color: $secondary-2;
  }

  &:hover {
    color: $white;
    background-color: $secondary;
  }
}

.btn-gray {
  &, &:focus, &:active {
    color: $white;
    background-color: #afb9c6;
  }

  &:hover {
    color: $white;
    background-color: $secondary;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

// Buttons Group
.btn-group {
  > * + * { margin-top: 25px; }
  * + & { margin-top: 45px; }
}

.btn-social {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  > img {
    margin-right: 15px;
  }
}

.btn-facebook {
  &, &:focus, &:active {
    color: $white;
    background-color: $facebook;
  }

  &:hover {
    color: $white;
    background-color: darken($facebook, 15%);
  }
}

.btn-twitter {
  &, &:focus, &:active {
    color: $white;
    background-color: $twitter;
  }

  &:hover {
    color: $white;
    background-color: darken($twitter, 15%);
  }
}

.btn-google {
  &, &:focus, &:active {
    color: $white;
    background-color: $google;
  }

  &:hover {
    color: $white;
    background-color: darken($google, 15%);
  }
}