/*
 * Footer
*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: $white;
  background-color: $gray-23;

  &-block-lg {
    @include media-breakpoint-up(lg) {
      max-width: 574px;
    }
  }

  &-heading {
    position: relative;
    color: $gray-8;
    border-bottom: 1px solid rgba($gray-6, .15);
    > span {
      display: inline-block;
      margin-bottom: -1px;
      padding-bottom: 12px;
      border-bottom: 1px solid $secondary-1;
    }

    &-gray {
      color: $gray-8;
    }
  }

  &-heading + * {
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 30px;
    }
  }

  &-list {
    font-size: 13px;

    > li + li { margin-top: 10px; }

    @include media-breakpoint-up(md) {
      > li + li { margin-top: 17px; }
    }

    a {
      display: inline;
      background-size: 1px 1px;

      &, &:focus, &:active {
        color: $white;
        box-shadow: $white 0px -1px 0px 0px inset;
      }

      &:hover {
        color: $white;
        box-shadow: none;
      }
    }
  }

  &-divider {
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba($gray-6, .10);
  }

  &-list-bordered {
    margin-left: -15px;
    margin-bottom: -10px;
    > li {
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
      border-right: 1px solid rgba($white, .10);
      &:last-child {
        border-right: none;
      }
    }
  }

  &-list-inline {

  }

  &-copyright {
    font-size: 12px;
    color: $gray-11;
  }

  &-info {
    font-size: 12px;
    color: $gray-11;
    text-align: left;


    &-text {
      display: block;
    }

    &-link {
      font-size: 14px;
      &, &:focus, &:active {
        color: $white;
      }
      &:hover {
        color: $primary;
      }
    }
  }

  h5 + h4 { margin-top: 5px; }

  * + &-form { margin-top: 15px; }
}
