/*
 * Forms
*/

$form-input-height: 49px;

.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  @include group(0px, 10px);

  > * { margin-top: 0; }

  .input-group {
    flex-grow: 1;
    min-width: 240px;
  }

  .input-button {
    flex-shrink: 0;
    max-width: calc(100% - 10px);
    min-height: $form-input-height;

    .button { min-height: inherit; }
  }

  @include media-breakpoint-up(sm) {
    .button { display: block; }
  }
}

.input-error {
  font-size: 11px;
  color: $secondary-10;
  display: none;
  
  .footer & {
    font-size: 12px;
    color: #671414;
  }
}

.form-input {
  height: 49px;
  width: 100%;
  padding: 14px 11px;
  font-weight: 700;
  font-style: italic;
  color: $gray-25;
  background-color: $gray-1;
  border: 1px solid transparent;
  transition: .3s ease-out border;
  box-shadow: none;

  &.is-success {
    border-color: $secondary-7 !important;
  }
  &.has-error {
    border-color: $secondary-10 !important;

    & + .input-error {
      display: block;
    }
  }

  &-search {
    padding: 14px 24px;
    height: 56px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $gray-20;
  }

  .footer & {
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $gray-12;
  }
}

.form-login {
  font-size: 14px;
  .form-input {
    height: 40px;
    padding: 14px 14px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $gray-12;
    background-color: transparent;
    border: 1px solid #d2d2d2;
  }

  .form-label {
    font-size: 14px;
    font-weight: 400;
    color: $gray-18;

    & + * { margin-top: 10px; }
  }

  .input-group-checkbox {
    font-size: 14px;
    color: $gray-17;
    font-weight: 400;
    > label {
      cursor: pointer;

      > span {
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
    input {
      margin-right: 5px;
    }
  }

  .input-group-info {
    a {
      display: inline;
      background-size: 1px 1px;

      &, &:focus, &:active {
        color: $gray-17;
        box-shadow: $gray-17 0px -1px 0px 0px inset;
      }

      &:hover {
        color: $gray-17;
        box-shadow: none;
      }
    }
  }

  .input-group + .input-group { margin-top: 15px; }
  .input-group + .input-group-checkbox { margin-top: 27px; }
  * + .input-group-info { margin-top: 20px; }
  * + .input-button { margin-top: 25px; }
  * + & { margin-top: 20px; }
}



.form-input-number {

  &-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  display: block;
  width: 100%;
  padding: 5px;
  height: 40px;
  color: $gray-18;
  text-align: center;

  &-group {
    position: relative;
    margin-bottom: 2px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      border-bottom: 1px solid $gray-1;
    }
  }

  &-label {
    min-width: 57px;
    padding-right: 5px;
    color: $white;
  }
}

.snackbar {
  position: fixed;
  bottom: 30px;
  left: 15px;
  max-width: 260px;
  padding: 10px;
  color: $white;
  transform: translateX(-600px);
  background-color: $secondary-7;
  transition: .3s ease-out all;

  @include media-breakpoint-up(sm) {
    left: 30px;
    max-width: 500px;
  }

  &.active {
    transform: translateX(0);
    z-index: 10000;
  }
}