/*
 * Lists
*/

.list-inline {
  margin-left: -6px;
  > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
  }
}

.list-inline-lg {
  margin-left: -15px;
  > li {
    margin-left: 15px;
  }
}