/*
 * Type
*/

// Body
body {
  font-size: $font-size-body;
  font-weight: $fw-base;
  line-height: $lh-base;
  font-family: $font-family-base;
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;

}

.page {
  min-height: 100vh;
}

// Headings
#{headings()} {
  margin-bottom: 0;

  a {
    color: inherit;

    &:hover { color: $primary; }
  }
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 26px;

    .small {
      font-size: 24px;
    }
  }
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 26px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}

a {
  &, &:focus, &:active {
    color: inherit;
  }

  &:hover {
    color: $secondary;
  }

  text-decoration: none;
  transition: .3s ease-out all;
}

// Selection
::selection {
  background: $primary;
  color: $white;
}

::-moz-selection {
  background: $primary;
  color: $white;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold {
  font-weight: 900;
}