footer.footer
  .container
    .row.row-30
      .col-12.col-lg-6
        .footer-block-lg
          h5.footer-heading
            span Блок 1
          h5.footer-heading-gray.text-uppercase.text-bold Будьте в курсе новостей и новинок!
          h4.text-uppercase.text-extra-bold Подписывайтесь на рассылку
          .footer-form
            form.form.form-inline
              .input-group
                input.form-input(placeholder='Укажите свой email для подписки')
              .input-button
                button.btn-lg-small.btn.btn-secondary(type='submit')
                  span подписаться
      .col-12.col-lg-6
        .row.row-30
          .col-6.col-sm-4
            h5.footer-heading
              span Блок ссылок 1
            ul.footer-list
              li: a(href='#') Ссылка 1
              li: a(href='#') Ссылка 2
              li: a(href='#') Ссылка 3
              li: a(href='#') Ссылка 4
          .col-6.col-sm-4
            h5.footer-heading
              span Блок 2
            ul.footer-list
              li: a(href='#') Ссылка 1
              li: a(href='#') Ссылка 2
              li: a(href='#') Ссылка 3
              li: a(href='#') Ссылка 4
          .col-6.col-sm-4
            h5.footer-heading
              span Блок ссылок 3
            ul.footer-list
              li: a(href='#') Ссылка 1
              li: a(href='#') Ссылка 2
              li: a(href='#') Ссылка 3
              li: a(href='#') Ссылка 4
    .footer-divider
    .row.row-30.text-center.text-lg-left
      .col-12.col-lg-5.col-xl-6
        .footer-block-lg
          ul.footer-list-bordered
            li: +img('logo-dark-195x37.png')
            li
              p.footer-copyright © Copyrith
                =" "
                span.copyright-year
                =" "
                | . Тестовое задание Wezom
      .col-12.col-lg-4.col-xl-3
        ul.list-inline
          li: a.icon.icon-vk.icon-square(href='#'): span
          li: a.icon.icon-facebook.icon-square(href='#'): span
          li: a.icon.icon-twitter.icon-square(href='#'): span
          li: a.icon.icon-youtube.icon-square(href='#'): span
      .col-12.col-lg-3.text-lg-right
        ul.footer-list-bordered
          li: +img('wezom-01-43x15.png')
          li
            p.footer-info
              span.footer-info-text Разработка тестового
              a.footer-info-link(href='https://wezom.com.ua/') Wezom Agency


